input, textarea {
  width: calc(100% - 10px);
	margin: 0 5px;
	border: 1px solid var(--green);
	padding: 5px;
	box-sizing: border-box;
}
input:focus {
	box-shadow: inset 0 0 2px 2px var(--green);
	outline: none;
	border-color: var(--orange);
}
input:disabled, textarea:disabled  {
	border-color: white;
}
fieldset label {
	color: var(--green);
	font-variant-caps: all-petite-caps;
	margin: 5px 5px 0 5px;
}
fieldset {
	margin: 5px;
	padding: 0 0 5px 0;
	border: none;
}
legend{
	font-size: x-small;
}
fieldset img {
	float: left;
	padding:5px
}
.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.group {
  width: calc(100% - 10px);
  box-sizing: border-box;
  border: 1px solid var(--green);
  padding: 0 5px 0 0;
}
.group legend {
  color: var(--green)
}
.group div, div.tag > div:first-child{
  display: flex;
  padding-bottom: 5px;
  justify-content: flex-end;
}
fieldset:disabled .group span, fieldset:disabled .check-button {
  display:none
}
fieldset:enabled .group span {
  cursor: pointer;
}
fieldset .group div:last-child {
  width: 100%;
  box-sizing: border-box;
}
fieldset .group div:last-child span {
  background-color: #87B42D;
  color: white;
  border-radius: 50%;
  padding: 0 2px;
}

.thumbnail,.image {
	height: 45px;
	width: 32px;
	object-fit: cover;
	object-position: top;
}
.tag {
  width: 100%
}
.tags {
  position: relative;
  padding: 5px;
}  
fieldset:disabled .tags {
  top: -38px;
}
fieldset:enabled .tags > div {
  display: inline-block;
  height: 20px;
  line-height:20px;
  color: black;
  font-size: 9pt;
  background-color: var(--green);
  padding: 0 5px;
  border-radius: 10px;
  margin: 0 10px;
}
fieldset:disabled .tags > div {
  display: inline-block;
  height: 20px;
  line-height:20px;
  font-size: 9pt;
  padding: 0 10px;
}
.not-visible{
  transform: scale(0.0);
  transition: transform .2s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}
.pop-up {
  transition: transform .2s cubic-bezier(0.68, 0.55, 0.265, 1.55);
  transform: scale(1.1);
}
fieldset:enabled .cancel-button:after {
  font-family: "Material Icons";
  content: "cancel";
  line-height: 20px;
  vertical-align: middle;
  padding-left: 3px;
  cursor: pointer;
}
.check-button {
  text-decoration: none;
  color: var(--green);
}
.check-button:before {
  font-family: "Material Icons";
  content: "check_circle";
  vertical-align: middle;
}
fieldset:enabled .add-identifier:before {
  font-family: "Material Icons";
  content: "cancel";
  transform: rotate(45deg);
  color: green;
}
.buttons {
	position: fixed;
  display: flex;
  bottom: 0;
  right: 0
}
.disabled{
	opacity: 0.5;
	transition: opacity .5s ease;
}
.enabled{
	opacity: 1;
	transition: opacity .5s ease;
}