:root {
  --milka: #C6ADF0;
  --blueviolet: #5015B5;
  --orange: #E86602;
  --green: #87B42D;
  --brown: #2F1908;
	--box-positionX: 50vw;
	--box-positionY: 50vh;
	--box-width: 0;
	--box-height: 0;
	--scrollX:0;
	--scrollY:0;
  --duration: .3s;
}
body {
    font-size: 15pt;
    margin: 0;
    height: 100vh;
    background-image:url(buecherhaufen.jpg);
    /* background-color: var(--brown); */
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
  position: absolute;
  left:50%;
  /* width: 100%; */
  padding:0.3em;
  display: flex;
  justify-content: space-around;
  z-index: 10
}
.navbar > div {
  display:flex;
  align-items: center;
  transform: translate(-50%);
}
.navbar > div > input {
  height:38.8px;margin:0;
  box-sizing: border-box;
  border-bottom-left-radius: 17px;
  border-top-left-radius: 17px;
  padding: 0 10px;
  background-color: rgba(255,255,255,.5)
}
.navbar > div > a {
  height: 28.8px;
  width: 28.8px;
  text-decoration: none;
  background-color: var(--green);
  padding: 5px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  color:black;
}
/* helpers */
.invisible {
	opacity: 0;
	transition: opacity .5s ease;
}
.visible {
	opacity: 1;
	transition: opacity .5s ease;
}
.hidden {
  display: none !important;
}
/* functional elements */
.button {
	position: fixed;
	background-color: var(--orange);
	border-radius: 50%;
  border:none;
	box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.637);
	cursor: pointer;
	margin: 1em;
	width: 2em;
	height: 2em;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* line-height: 1; */
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}
.uploading {
	background-color: white;
	background-image: url(preparing.gif);
	background-position: center;
	background-size: contain;
  background-repeat: no-repeat;
}
.active {
	background-color: var(--blueviolet) !important;
	color: white;
}
.action {
	background-color: var(--orange);
	width: 3em;
	height: 3em;
}
/* positions */
.right {
	right: 0
}
.bottom {
	bottom: 0;
}
.v-centered {
	top: 50%
}
.h-centered {
	left: 50%
}
/* pages */
#main > div {
  position:absolute;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: scroll
}
/* transitions */
.enlarge-enter-start, .minimize-leave-end {
  transform: translate(calc(var(--box-positionX) + var(--scrollX)),calc(var(--box-positionY) - var(--scrollY)));
  width: var(--box-width) !important;
  height: var(--box-height) !important;
  opacity: 0;
}
.enlarge-enter-end, .minimize-leave-start {
  transition: all var(--duration) ease-in;
  transform: translate(0,0);
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.flyaway-leave-start {
	opacity: 1;
	transform: scale3d(1.,1.,1.) translate(0,0)
}
.flyaway-leave-end {
	opacity: 0;
	transform: scale3d(3.0,3.0,3.0) translate(200px,20px);
	transition: all var(--duration) cubic-bezier(0.4, 0.2, .9, 1);
}
.slide-enter-start {
  transform: translate(-100vw) scale3d(.9, 0.9,.9);
}
.slide-enter-end {
  transition: transform var(--duration) cubic-bezier(1,0.5,0.5,1);
  transform: translate(0,0) scale3d(1,1,1);
}
.slide-left-enter-start,.slide-right-leave-end {
	transition: transform var(--duration) cubic-bezier(0.68, .55, 0.265, 1);
	transform: translateX(100vw);
}
.slide-left-enter-end,.slide-right-leave-start {
  transition: transform var(--duration) cubic-bezier(0.68, .55, 0.265, 1);
  transform: translateX(0);
}
.slide-right-enter-start,.slide-left-leave-end {
	transition: transform var(--duration) cubic-bezier(0.68, .55, 0.265, 1);
	transform: translateX(-100vw);
}
.slide-right-enter-end,.slide-left-leave-start {
  transition: transform var(--duration) cubic-bezier(0.68, .55, 0.265, 1);
  transform: translateX(0);
}
.zoom-enter-start {
  transition: transform, opacity var(--duration) ease-in;
  transform: scale3d(1.2,1.2,1.2) translate(-.05em,-.05em);
  opacity:0;
}
.zoom-enter-end {
  transition: transform var(--duration) ease-out, opacity var(--duration) cubic-bezier(1, 0, 0, 1);
  transform: scale3d(1.,1.,1) translate(0,0);
  opacity: 1;
}
.ease-enter-start {
  transition: opacity var(--duration) ease-out;
  opacity: 1;
}
.ease-enter-end {
  transition: opacity var(--duration) ease-in;
  opacity: 0;
}
/* gallery styles */
h1 {
  color: var(--milka);
  font-family: "Walbaumgrot";
  font-weight: 100;
  font-size: 60px;
  margin: 0;
  margin-bottom: -0.8em;
}
h2 {
  font-family: "Walbaumgrot";
  font-weight: 700;
  font-size: 24pt;
}

a > img {
  margin: 2em 5px;
  cursor: pointer;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.75)
}
.slider {
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
}
.slider .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  bottom: 5px;
  width:128px;
  height: 194px;
  text-align: center;
  background-color: rgba(178, 128, 128, 0.637);
  padding: 10px;
  margin: 2em 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.75);
  box-sizing: border-box;
  cursor: pointer;
}
div.slider a:link {
  color: whitesmoke;
  text-decoration: none;
}
/* scroll snap tabs */
.tabs {
	display: flex;
	width:100vw;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.tabs > * {
	scroll-snap-align: center;
	scroll-snap-stop: always;
	width: 100vw;
}
/* Details styles */
.card {
  height: 100vh; 
  overflow-y: scroll; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-image {
  width: 100%;
  position: fixed;
}
.card-image img {
  width: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity .5s ease;
}
.spacer {height: 40%;position: relative}
.spacer > h1 {
  position: fixed;
  margin-left: .5em;
  color: var(--milka);
}
.spacer > div {
  display: flex;
  justify-content: start;
  /*position: absolute;*/
  margin-top: calc(40vh - 55px) ;
  padding:5px 0 0 0;
  width: 100%;
  box-shadow: 2px 2px 20px rgba(50,50,50,50%);
}
.black {
  background-color: var(--brown);
  color: white;
  transition: color var(--duration) linear;
}
.white {
  background-color: white;
  color: var(--brown);
  transition: var(--duration) linear color,var(--duration) linear background-color;
}
.spacer > div > span {
  font-family: 'Walbaumgrot';
  font-weight: 700;
  font-size: normal;
  cursor: pointer;
  padding: 0 10px;
}
.spacer > div > span:active {
  border-bottom: 1px solid var(--orange);
  color: var(--orange) !important;
}
.spacer > div.white > span.active-tab {
  border-bottom: 1px solid var(--brown);
}
.spacer > div.black > span.active-tab {
  border-bottom: 2px solid white;
}
.spacer > div > span:hover {
  color:var(--green)
}
.card-content.tabs {
  position: relative;
  flex-shrink: 0;
  min-height: 90%;
  background-color: white; 
  /*transform: rotate(180deg);
  flex-direction: row-reverse;*/
}
.card-content.tabs > * {
 /* transform: rotate(180deg);*/
  height: calc(100vh - 5em);
  overflow-y: scroll;
  flex-shrink: 0;
}
.panel {
  background-color: white; 
  padding:0 1em;
  box-sizing: border-box;
}

/* Form tab */
textarea {
	margin: 0 5px 5px 5px;
}
input, textarea {
  width: 100%;
	margin: 0 5px;
	border: 1px solid var(--green);
	padding:5px;
}
input:focus {
	box-shadow: inset 0 0 2px 2px var(--green);
	outline: none;
	border-color: var(--orange);
}
input:disabled, textarea:disabled  {
	border: none;
}
label {
	color: var(--green);
	font-variant-caps: all-petite-caps;
	margin: 5px 5px 0 5px;
}
fieldset {
	margin: 5px;
	padding: 0 0 5px 0;
	border:none
}
legend{
	font-size: x-small;
}
fieldset img {
	float: left;
	padding:5px
}
.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.group {
  width: 100%;
  border: 1px solid var(--green);
  padding: 0 5px 0 0;
}
.group legend {
  color: var(--green)
}
.group div {
  display: flex;
  padding-bottom: 5px;
  justify-content: flex-end;
}
fieldset:disabled .group span {
  display:none
}
fieldset:enabled .group span {
  cursor: pointer;
}
fieldset .group div:last-child {
  width: 100%;
}
fieldset .group div:last-child span {
  background-color: #87B42D;
  color: white;
  border-radius: 50%;
  padding: 0 2px;
}

.thumbnail,.image {
	height: 45px;
	width: 32px;
	object-fit: cover;
	object-position: top;
}
/* fonts */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/materialicons.woff2) format('woff2');
}
/* Walbaum */
@font-face { 
	font-family: "Walbaum"; 
	src: url("fonts/walbaum10xlpro.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
	font-display: swap; 
}
@font-face { 
	font-family: "Walbaumgrot"; 
	src: url("fonts/walbaumgrotesklight.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 100; 
	font-display: swap; 
}
@font-face { 
	font-family: "Walbaumgrot"; 
	src: url("fonts/walbaumgroteskbook.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400; 
	font-display: swap; 
}
@font-face { 
	font-family: "Walbaumgrot"; 
	src: url("fonts/walbaumgroteskbookitalic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: 400; 
	font-display: swap; 
}
@font-face { 
	font-family: "Walbaumgrot"; 
	src: url("fonts/walbaumgrotesktext.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
	font-display: swap; 
}
@font-face { 
	font-family: "Walbaumgrot"; 
	src: url("fonts/walbaumgroteskbookbold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}
/* Text styles */
.title {
	font-family:  'Walbaumgrot';
	font-weight: 500;
	font-size: 18pt;
	margin: 5px 0;
}
.subtitle {
	font-family:  'Walbaumgrot';
	font-style: italic;
	font-weight: 500;
	font-size: 12pt;
	color: var(--black);
	margin: 0;
}
.authors {
	font-family:  'Walbaumgrot';
	font-variant:small-caps;
	font-weight: 500;
	font-size: 12pt;
}
.categories {
	font-family:  'Walbaumgrot';
	font-variant-caps:all-small-caps;
	font-weight: 700;
	font-size: 12pt;
	color: grey;
}
.description, .teaser {
	font-family:  'Walbaumgrot';
	font-size: 12pt;
}
.info {
	font-family:  'Walbaumgrot';
	color: grey;
	font-size: 9px;
	font-weight: 500
}
/* list */
#related {
  padding: 10px;
  box-sizing: border-box;
}
.card-entry {
  display: flex;
  border-top: 1px solid grey;
}
.card-entry img {
  width: 128px;
  margin: 10px 5px;
}
.card-entry > div {
  padding: 0 10px 0 0;
}
.card-entry div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller !important;
  font-weight: 500;
}
.color-blue {
  color: var(--blueviolet)
}
.color-orange {
  color: var(--orange)
}
.color-green {
  color: var(--green)
}
.color-brown {
  color: var(--brown)
}
/* studies */
.orange {
  background-color:var(--brown);height: 100%;display:flex;align-items:center;justify-content:center;font-size: 72px; color: var(--orange)
}
.blue {
  background-color:var(--milka);height: 100%;display:flex;align-items:center;justify-content:center;font-size: 72px; color: var(--blueviolet)
}
.green {
  background-color:var(--blueviolet);height: 100%;display:flex;align-items:center;justify-content:center;font-size: 72px; color: var(--green)
}
.tag {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  width: 100%
}
.tag > div {
  position: relative;
  width: 100%;
}
.tag > input {
  width: 100%;
}
.tags {
  padding: 5px
}  
fieldset:enabled .tags > div {
  display: inline-block;
  height: 20px;
  line-height:20px;
  color: black;
  font-size: 9pt;
  background-color: var(--green);
  padding: 0 5px;
  border-radius: 10px;
  margin: 0 10px;
}
fieldset:disabled .tags > div {
  display: inline-block;
  height: 20px;
  line-height:20px;
  font-size: 9pt;
  padding: 0 5px;
  margin: 0 10px;
  box-shadow: none;
}
fieldset:disabled .tags {
  position: relative;
  top: -30px;
}
.not-visible{
  transform: scale(0.0)
}
.pop-up {
  transition: transform .2s cubic-bezier(0.68, 0.55, 0.265, 1.55);
  transform: scale(1.1);
  box-shadow: 2px 2px 15px var(--brown)
}
fieldset:enabled .tags > div:after {
  font-family: "Material Icons";
  content: "cancel";
  line-height: 20px;
  vertical-align: middle;
  padding-left: 3px;
}

.tag span {
  text-decoration: none;
  color: var(--green);
  position: absolute;
  right:-10px;
  bottom: 4px
}
.icon:active {color: var(--orange)}
.options{
  position: absolute;
  background-color: white;
  top: 40px;
  left: 15px;
  padding: 0 5px;
  font-size: 12pt;
  z-index: 10
}
.options p:hover {
  background-color: lightgray
}
.download {
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--green);
  border-radius: 5px;
}
.download a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download:active {
  background-color: var(--orange)
}
.more-button {
  height: 40px;
  width:100%;
}